.header__logo {
    max-width: 142px;
    margin: 45px 0 40px 0;
    display: block;
}

@media only screen and (max-width: 768px) {
    .header__logo {
        max-width: 104px;
        margin: 28px auto 32px 28px;
    }
}