.profile__add {
    background: url(../../../images/add.svg) center no-repeat;
    background-size: 22px 22px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    min-width: 150px;
    min-height: 50px;
    padding: 0;
    margin-left: auto;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .profile__add {
        min-width: 282px;
        background-size: 16px 16px;
        margin: 36px 0 0 0;
    }
}